@model TestApp.Models.ErrorModel.ResponseException
<div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p> <strong>@Model.ExceptionMessage</strong></p>
    <p> <strong>@Model.ResponseMessage</strong></p>
</div>